.pessoa {
    display: flex;
    flex-direction: column;
}
@media screen and (minwidth:0) {
    .pessoa{
        margin-bottom: 2rem;
    }
}

@media screen and (minwidth: 768px) {
    .pessoa {
        padding: 2.5rem;
    }
}

